.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url("https://i.ibb.co/qCCDVhR/image-hero.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  
}
.App-Content{
  display: flex;
  flex-direction: column;
  width: 398px;
  height: 346px;
  margin-left: 165px;
  margin-top: 225px;
  text-align: left;

}
.product-head{
  width: 199px;
  height: 19px;
  font-size: 14px;
  text-shadow:black;
  color: #000;
  cursor: pointer;
}


.prod-sub {
  width: 200px ;
  height: 116px;
  font-size: px;
  line-height: 15px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-style: manrope;
  
  
}
.butt {
  width: 160px;
  height: 48px;
  background-color: #D87D4A; 
  color: white;
  font-weight: 15px;
  cursor: pointer;
 
}

